input {
    border-width: 0;
    height: 20px;
    letter-spacing: 16px;
    background-repeat: repeat;
    background-image: url(square.jpg);
    background-size: 22px;
    padding: 1px;
    margin-left: 10px;
}

.numeInput {
    width: 438px;
}

.prenumeInput {
    width: 438px;
}

.cnpInput {
    width: 290px;
}